.PesquisaContainer{
        background-image: linear-gradient(90deg, #002F52 35%,
        #326589);
        color: #FFF;
        text-align: center;
        padding: 85px 0;
        height: 270px;
        width: 100%;
    }