.App {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #002F52 35%, #326589);
}

.App-header {
    background-color: #FFF;
    display: flex;
}

.opcoes {
    display: flex;
}
.opcao{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
    min-width: 120px;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    cursor: pointer;
}

.icone img {
    width: 24px; 
    height: 24px;
}